

.productContainer{
    border: solid 3px green;
    border-radius: 5px;
    margin: 5px;
    width: 220px;
    height: 350px;
    flex-wrap: wrap;
    
}
.vehicleTitle{
    margin-left: 85%;
    direction: rtl;
    text-align: center;
    font-size: x-large;
}
.productContainer img,h5,p,h3,h6{
    margin: 10px 5px;    
    display: flex;
    display: flex;
    

}
.image{
    width: 205px;
    height: 150px;
    border-radius: 5px;
}

.productContainer span:hover {
    cursor: pointer;
    color: black;
    font-weight: bold;
}